version: "3.9"

services:
  backend:
    build: ./apps
    image: taidepzai/backend_learningenglish:latest
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./apps/.env.production
    environment:
      - NODE_ENV=production
    depends_on:
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: ./webapp/Dockerfile
    image: taidepzai/frontend_learningenglish:latest
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app-network

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge