<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luyện Tập Phát Âm</title>
    <link rel="icon" href="/static/images/favicon.png">
    <script src="/static/js/authentication.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        .exercises-container {
            margin: 130px auto 50px auto;
            max-width: 800px;
            min-width: 300px;
            padding: 25px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #fff;
        }
        .form-check {
            padding-left: 0;
        }
        .option-label {
            display: block;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            background-color: #fff;
        }

        .option-label:hover {
            background-color: #f8f9fa;
        }

        .option-input {
            display: none;
        }

        .option-input:checked + .option-label {
            background-color: #e9ecef;
            font-weight: bold;
        }

        .btn {
            width: 100%;
        }

        .time-remaining {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .submit-btn {
            background-color: #28a745;
            color: white;
            padding: 10px;
            border-radius: 4px;
            width: 100%;
        }

        .record-btn {
            background-color: #17a2b8;
            color: white;
        }

        .correct-answer {
            background-color: #aceebb !important;
        }

        .incorrect-answer {
            background-color: #eab3b8 !important;
        }

        .speaker-icon {
            cursor: pointer;
            margin-left: 10px;
            font-size: 20px;
            color: #007bff;
        }

        .explanation {
            border: 1px solid cadetblue;
            line-height: 1.8;
            padding: 10px;
            font-size: 15px;
            font-weight: bold;
        }
        .correct-answer {
            background-color: #aceebb !important;
            font-weight: bold !important;
        }
        .incorrect-answer {
            background-color: #eab3b8 !important;
            font-weight: bold !important;
        }
        .btn {
            width: 100%;
        }
        .result-content {
            text-align: center;
        }
        .result-screen h2 {
            margin: 10px 0 20px 0;
        }
        .result-content p{
            margin: 20px 0;
            color: black;
            font-size: 16px;
        }
        .result-number {
            font-weight: bold;
            color: black;
            font-size: 16px;
        }
        .result-percentage {
            font-size: 16px;
            color: #17a2b8;
        }
        .result-icon {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .result-icon img {
            width: 200px;
            height: auto;
        }

        /* Phần bên phải - thời gian và danh sách câu hỏi */
        .sidebar {
            margin: 130px auto 50px auto;
            padding: 25px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #fff;
        }

        .time-remaining {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .question-list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
        }

        .question-list button {
            background-color: #fff;
            color: #333;
            border: 1px solid black;
            padding: 5px;
            font-size: 13px;
            border-radius: 4px;
            cursor: pointer;
        }
        .question-list button.active {
            background-color: #6c757d;
        }

        .question-list button:hover {
            background-color: #0057b3;
            color: white;
        }
        .speak-button {
            border: 1px solid #9ba0a6;
            background-color: #ffffff;
        }
        #speak-choice {
            padding: 30px;
            font-size: 25px;
        }
        .history-item {
            margin-bottom: 20px;
        }
        .history-item h5 {
            font-size: 16px;
            line-height: 1.6;
            font-weight: bold;
        }
        .history-item p {
            font-size: 16px;
            margin: 5px 0;
        }
        .speak-button {
            border: 1px solid #9ba0a6;
            background-color: #ffffff;
        }
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.485);
        }

        .accuracy-display {
            text-align: center;
        }

        .accuracy-display.green {
            color: green;
        }

        .accuracy-display.orange {
            color: orange;
        }

        .accuracy-display.red {
            color: red;
        }

        .analysis-message {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            text-align: center;
        }


        .detailed-analysis {
            margin-top: 20px;
            text-align: left;
        }

        .correct-word {
            color: green;
            font-weight: bold;
        }

        .incorrect-word {
            color: red;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <%- include('../partials/menu.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container exercises-container">
                    <div id="exerciseCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" id="carousel-inner">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="time-remaining text-center">
                        <span id="timeLabel">Thời gian còn lại:</span> <span id="time">20:00</span>
                    </div>
                    <button id="submitQuizBtn" class="btn btn-primary submit-btn mb-4">Nộp bài</button>
                    <h5 id="questionListTitle">Danh sách câu hỏi:</h5>
                    <div class="question-list mt-3" id="question-list">

                    </div>
                    <div id="completed-info" style="display: none; text-align: center;">
                        <h4>Thời gian đã làm: <span id="completedTime"></span></h4>
                        <button class="btn btn-secondary mt-3" id="viewHistoryBtn" data-toggle="modal" data-target="#historyModal">Xem lịch sử</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        $(document).ready(function() {
            let timeRemaining = 20 * 60;
            let correctAnswers = 0;
            let totalQuestions = $('.carousel-item').length;
            let timer;
            let mediaRecorder;
            let audioChunks = [];
            const carouselInner = $('#exerciseCarousel .carousel-inner');
            const questionList = $('#question-list');
            const exerciseId = window.location.pathname.split('/').pop();
            $.ajax({
                url: `/pronunciation-exercise/api/${exerciseId}`,
                method: 'GET',
                success: function(data) {
                    if (data && data.questions && data.questions.length > 0) {
                        totalQuestions = data.questions.length; 
                        data.questions.forEach((question, index) => {
                            const questionHtml = `
                                <div class="carousel-item ${index === 0 ? 'active' : ''}">
                                    <div class="question-card p-3" data-correct-answer="${question.correctAnswer}" data-explanation="${question.explanation}" data-type="${question.type}">
                                        ${question.type === 'multiple-choice' ? `
                                            <!-- Nội dung câu hỏi lựa chọn -->
                                            <h4>Nghe và chọn đáp án phát âm đúng:</h4>
                                            <h5 style="margin-top: 20px; line-height: 1.8;" id="ques-${index}">
                                                Question ${index + 1}:
                                                <span class="question-text" style="display: none;">${question.question}</span>
                                            </h5>
                                            <div class="d-flex justify-content-center align-items-center mt-3">
                                                <button id="speak-choice" class="speak-button btn-sm btn-outline" data-text="${question.question}">🔊</button>
                                            </div>
                                            <form id="question-form-${index}" class="mt-4">
                                                ${question.options
                                                .filter(option => option.trim() !== '')
                                                .map((option, optIndex) => `
                                                    <div class="form-check">
                                                        <input class="option-input" type="radio" name="answer-${index}" value="${option}" id="option-${optIndex}-${index}">
                                                        <label class="option-label" for="option-${optIndex}-${index}">
                                                            ${option}
                                                        </label>
                                                    </div>
                                                `).join('')}
                                                <div class="explanation mt-4" style="display: none;"></div>
                                                <button type="button" class="btn btn-success submit-answer mt-4" data-index="${index}">Kiểm tra</button>
                                            </form>
                                        ` : `
                                            <!-- Nội dung câu hỏi phát âm lại -->
                                            <h4>Phát âm lại sao cho đúng:</h4>
                                            <h5 style="margin-top: 20px; line-height: 1.8" id="ques-${index}">
                                                <button class="speak-button btn-sm btn-outline mr-2" data-text="${question.question}">🔊</button>
                                                Question ${index + 1}:  <span class="question-text">${question.question}</span>
                                            </h5>
                                            <div class="mt-4" style="text-align: center;">
                                                <button type="button" class="btn record-btn" id="record-answer-${index}" data-index="${index}" style="width: 30%; display: inline-block; margin-top: 10px">
                                                    Ghi âm
                                                </button>
                                                <p id="recording-status-${index}" style="display: none; color: green; font-weight: bold;"></p>
                                                <div id="analysisResult-${index}" style="display: none; margin-top: 30px">
                                                    <audio id="user-audio-${index}" controls style="display: none; margin-bottom: 25px;"></audio>
                                                    <div id="accuracyDisplay-${index}" class="accuracy-display" style="font-size: 48px; font-weight: bold; margin: 20px 0;"></div>
                                                    <div class="detailed-analysis" id="detailedAnalysis-${index}"></div>
                                                </div>
                                            </div>
                                            <div class="explanation mt-4" style="display: none;"></div>
                                        `}
                                    </div>
                                    <!-- Navigation buttons -->
                                    <div class="d-flex justify-content-between mt-3">
                                        <button class="btn btn-secondary prev-slide" type="button" ${index === 0 ? 'disabled' : ''}>Quay lại</button>
                                        <button class="btn btn-secondary next-slide ml-5" type="button" ${index === data.questions.length - 1 ? 'disabled' : ''}>Tiếp theo</button>
                                    </div>
                                </div>
                            `;
                            carouselInner.append(questionHtml);
    
                            questionList.append(`<button class="question-number btn btn-light" id="question-btn-${index}" data-index="${index}">${index + 1}</button>`);
                        });
    
                        $('.next-slide').on('click', function() {
                            $('#exerciseCarousel').carousel('next');
                        });
    
                        $('.prev-slide').on('click', function() {
                            $('#exerciseCarousel').carousel('prev');
                        });
                        $('.question-number').on('click', function() {
                            const index = $(this).data('index');
                            $('#exerciseCarousel').carousel(index);
                        });
                    } else {
                        carouselInner.html('<p class="text-center">Không có câu hỏi nào trong bài tập này.</p>');
                    }
                },
                error: function(error) {
                    console.error('Error fetching pronunciation exercise:', error);
                }
            });
            function startTimer() {
                timer = setInterval(() => {
                    let minutes = Math.floor(timeRemaining / 60);
                    let seconds = timeRemaining % 60;
                    seconds = seconds < 10 ? '0' + seconds : seconds;
                    $('#time').text(minutes + ":" + seconds);
                    timeRemaining--;
                    if (timeRemaining < 0) {
                        clearInterval(timer);
                        alert("Hết giờ!");
                        submitQuiz();
                    }
                }, 1000);
            }
            $(document).on('click', '.speak-button', function() {
                const textToSpeak = $(this).data('text');
                speakText(textToSpeak);
            });
    
            function speakText(text) {
                if ('speechSynthesis' in window) {
                    const utterance = new SpeechSynthesisUtterance(text);
                    utterance.lang = 'en-US';
                    window.speechSynthesis.speak(utterance);
                } else {
                    alert('Trình duyệt của bạn không hỗ trợ Speech Synthesis.');
                }
            }
            $(document).on('click', '.submit-answer', function() {
                const index = $(this).data('index');
                const questionCard = $(this).closest('.question-card');
                const correctAnswer = questionCard.data('correct-answer');
                const explanation = questionCard.data('explanation');
    
                const selectedAnswer = $(`input[name="answer-${index}"]:checked`, `#question-form-${index}`).val();
    
                if (!selectedAnswer) {
                    alert("Vui lòng chọn một đáp án.");
                    return;
                }
    
                const isCorrect = selectedAnswer === correctAnswer;
                $(`input[name="answer-${index}"]:checked + .option-label`, `#question-form-${index}`).addClass('correct-answer');
                questionCard.find('.explanation').html(`Bạn đã trả lời đúng.<br> Giải thích: ${explanation}`).show();
                $(`#question-btn-${index}`).css('background-color', '#28a745').css('color', 'white');
                if (!isCorrect) {
                    $(`input[name="answer-${index}"]:checked + .option-label`, `#question-form-${index}`).addClass('incorrect-answer');
                    $(`input[name="answer-${index}"][value="${correctAnswer}"] + .option-label`, `#question-form-${index}`).addClass('correct-answer');
                    questionCard.find('.explanation').html(`Bạn đã trả lời sai. Đáp án đúng là: ${correctAnswer}. <br> Giải thích: ${explanation}`).show();
                    $(`#question-btn-${index}`).css('background-color', '#dc3545').css('color', 'white');
                }
    
                if (isCorrect) {
                    correctAnswers++;
                }
    
                $(`#question-form-${index} input`).prop('disabled', true).addClass('disabled');
                $(this).prop('disabled', true).addClass('disabled');
            });
            
            $(document).on('click', '.record-btn', function () {
                const index = $(this).data('index');
                const status = $(`#recording-status-${index}`);
                const recordButton = $(this);
                const audioElement = $(`#user-audio-${index}`);

                if (recordButton.text() === 'Dừng ghi âm') {
                    if (mediaRecorder) {
                        mediaRecorder.stop();
                        recordButton.text('Ghi âm');
                        status.hide();
                    }
                } else {
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                        navigator.mediaDevices.getUserMedia({ audio: true })
                            .then(stream => {
                                mediaRecorder = new MediaRecorder(stream);
                                audioChunks = [];
                                mediaRecorder.start();
                                status.show().text('Đang ghi âm...');
                                recordButton.text('Dừng ghi âm');

                                mediaRecorder.ondataavailable = (event) => {
                                    audioChunks.push(event.data);
                                };

                                mediaRecorder.onstop = () => {
                                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                                    const audioURL = URL.createObjectURL(audioBlob);
                                    audioElement.attr('src', audioURL);
                                    audioElement.show();
                                    uploadAudio(audioBlob, index);
                                };
                            })
                            .catch(error => {
                                console.error('Lỗi khi truy cập microphone', error);
                                alert('Không thể truy cập vào microphone. Vui lòng kiểm tra quyền truy cập microphone.');
                            });
                    } else {
                        alert('Trình duyệt của bạn không hỗ trợ ghi âm.');
                    }
                }
            });


            $('#submitQuizBtn').click(function() {
                if (confirm('Bạn có chắc chắn muốn nộp bài?')) {
                    clearInterval(timer);
                    submitQuiz();
                }
            });
            function submitQuiz() {
                const timeTaken = 20 * 60 - timeRemaining;
                const minutesTaken = Math.floor(timeTaken / 60);
                const secondsTaken = timeTaken % 60;
    
                $('.time-remaining, .question-list, #submitQuizBtn, #questionListTitle').hide();
                $('#completed-info').show();
                $('#completedTime').text(`${minutesTaken}:${secondsTaken < 10 ? '0' + secondsTaken : secondsTaken}`);
                showResultScreen();
            }
    
            function showResultScreen() {
                let percentageCorrect = 0;
                const incorrectAnswers = totalQuestions - correctAnswers;
                if (totalQuestions > 0) {
                    percentageCorrect = (correctAnswers / totalQuestions) * 100;
                }
                
                const iconSrc = percentageCorrect >= 50 ? '/static/images/iconhappy.png' : '/static/images/iconsad.png';

                const resultHtml = `
                    <div class="result-screen text-center">
                        <h2 class="text-center">KẾT QUẢ BÀI LUYỆN TẬP PHÁT ÂM</h2>
                        <div class="row">
                            <div class="col-md-6 result-content">
                                <p>Tổng số câu: <span class="result-number">${totalQuestions}</span></p>
                                <p>Số câu đúng: <span class="result-number correct">${correctAnswers}</span></p>
                                <p>Số câu sai: <span class="result-number incorrect">${incorrectAnswers}</span></p>
                                <p>Tỷ lệ đúng: <span class="result-percentage">${percentageCorrect.toFixed(2)}%</span></p>
                            </div>
                            <div class="col-md-6 text-center result-icon">
                                <img src="${iconSrc}" alt="Icon kết quả">
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center mt-3">
                            <button class="btn btn-danger" style="width: 200px; margin-bottom: 10px;" onclick="location.reload()">Làm lại</button>
                            <button class="btn btn-secondary" style="width: 200px;" onclick="location.href='/pronunciation-exercise'">Thoát</button>
                        </div>
                    </div>
                `;
                $('.exercises-container').html(resultHtml);
            }

    
            startTimer();
        });

        function uploadAudio(audioBlob, index) {
            const formData = new FormData();
            formData.append('audio', audioBlob, 'recording.wav');
            const exerciseId = window.location.pathname.split('/').pop();

            $.ajax({
                url: `/pronunciation-exercise/analyze/${exerciseId}/${index}`,
                method: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    displayAnalysisResult(response, index);
                },
                error: function(error) {
                    console.error('Lỗi khi tải lên và phân tích âm thanh:', error);
                    alert('Đã xảy ra lỗi khi phân tích giọng nói.');
                }
            });
        }

        function displayAnalysisResult(response, index) {
            if (response.success) {
                const transcriptionWords = response.transcription.replace(/[^a-zA-Z\s]/g, '').toLowerCase().split(' ');
                const correctAnswerWords = $(`#ques-${index} .question-text`).text().replace(/[^a-zA-Z\s]/g, '').toLowerCase().split(' ');

                let matchCount = 0;
                const totalCount = correctAnswerWords.length;
                let detailedAnalysisHTML = "<p><strong>Chi tiết phát âm: </strong> ";

                correctAnswerWords.forEach((correctWord, i) => {
                    const transWord = transcriptionWords[i] || "";

                    if (correctWord === transWord) {
                        detailedAnalysisHTML += `<span class="correct-word">${correctWord} </span>`;
                        matchCount++;
                    } else if (transcriptionWords.includes(correctWord)) {
                        detailedAnalysisHTML += `<span class="correct-word">${correctWord} </span>`;
                        matchCount++;
                    } else {
                        detailedAnalysisHTML += `<span class="incorrect-word">${correctWord} </span>`;
                    }
                });

                detailedAnalysisHTML += "</p>";
                
                const accuracy = ((matchCount / totalCount) * 100).toFixed(2);
                
                let accuracyColorClass = "";
                let message = "";
                if (accuracy < 50) {
                    accuracyColorClass = "red";
                    message = "Cần học lại phát âm.";
                } else if (accuracy >= 50 && accuracy < 75) {
                    accuracyColorClass = "orange";
                    message = "Phát âm khá, cần cải thiện thêm.";
                } else {
                    accuracyColorClass = "green";
                    message = "Phát âm tốt, giữ vững phong độ!";
                }

                $(`#accuracyDisplay-${index}`).text(`${accuracy}%`).removeClass('green orange red').addClass(accuracyColorClass);
                
                $(`#detailedAnalysis-${index}`).html(`
                    <p class="analysis-message" style="color:${accuracyColorClass};">${message}</p>
                    <p style="margin-top: 15px;"><strong>Kết quả phân tích:</strong> "${response.transcription}"</p>
                    ${detailedAnalysisHTML}
                `);

                const analysisResultElement = document.getElementById(`analysisResult-${index}`);
                if (analysisResultElement) {
                    analysisResultElement.style.display = "block";
                } else {
                    console.error(`Element with id 'analysisResult-${index}' not found.`);
                }
            } else {
                alert(response.message || "Lỗi khi phân tích giọng nói");
            }
        }
    </script>  
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/masonry.pkgd.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>   
</body>
</html>