<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EasyTalk</title>
    <link rel="icon" href="/static/images/favicon2.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <!-- Header part end-->
    <%- include('partials/menu.ejs') %>

    <!-- learning part start-->
    <section class="learning_part" style="padding-top: 140px;">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="/static/images/learningenglish.png" alt="Learning English Online">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text" style="padding: 10px 20px;">
                        <h5>About us</h5>
                        <h2>Learn English with Ease and Fun</h2>
                        <p>At EasyTalk, we believe learning English should be enjoyable and accessible for everyone. Our platform offers interactive lessons, fun challenges, and personalized content that helps you improve your skills step by step.</p>
                        <ul>
                            <li><span class="ti-pencil-alt"></span>Interactive lessons that adapt to your learning style and pace</li>
                            <li><span class="ti-ruler-pencil"></span>Real-world examples and exercises that build confidence in communication</li>
                        </ul>
                        <a href="/about" class="btn_1">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->
    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text " style="padding: 10px 20px;">
                        <h3>Your Journey</h3>
                        <p>Embark on a personalized journey to master English, tailored to your progress and goals. Make every step count!</p>
                        <a href="/journey" class="btn_1">Start Now</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
                            <h4>Personalized Lessons</h4>
                            <p>Your Journey is designed specifically for your skill level and learning pace, making sure you reach your milestones efficiently.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                            <h4>Engaging Challenges</h4>
                            <p>From quizzes to interactive lessons, your Joyney includes fun challenges to ensure you learn while enjoying the process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                            <h4>Track Your Progress</h4>
                            <p>With every lesson completed, you move one step closer to fluency. Your Joyney helps you stay motivated and focused on your goals.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!--::review_part start::-->
    <section class="testimonial_part" style="padding: 70px 0;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>NHÀ SÁNG LẬP</p>
                        <h2>CÁC NHÀ SÁNG LẬP</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Mr. Pham Duc Tai</h4>
                                        <h5> Leader</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="static/images/phamductai.jpeg" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Mr. Dinh Cao Toan</h4>
                                        <h5>BA/BM</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="static/images/toandinh.jpeg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Mr. Le Duong Chi Bao</h4>
                                        <h5>Developer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="static/images/lebao.jpeg" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Mr. To Hoang Tuan</h4>
                                        <h5>UI/UX</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="static/images/tohoangtuan.jpeg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Mr. Pham Tuan Kiet</h4>
                                        <h5>Tester</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="static/images/kiet.jpeg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <%- include('partials/footer.ejs') %>

    <!-- jquery -->
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/js/custom.js"></script>
</body>

</html>