<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EasyTalk</title>
    <link rel="icon" href="/static/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <%- include('partials/menu.ejs') %>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Khám phá thế giới tiếng Anh cùng chúng tôi</h5>
                            <h1>Cải thiện kỹ năng tiếng Anh của bạn</h1>
                            <p>Cho dù bạn là người mới bắt đầu hay muốn cải thiện kỹ năng của mình, 
                                hành trình của chúng tôi được thiết kế cho mọi trình độ và sẽ giúp bạn tự tin sử dụng tiếng Anh hàng ngày.</p>
                                <a href="/journey" class="btn_1">BẮT ĐẦU NÀO !!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

        <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="/static/images/learningenglish.png" alt="Learning English Online">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text" style="padding: 10px 20px;">
                        <h5>Về chúng tôi</h5>
                        <h2>Học tiếng Anh dễ dàng và thú vị</h2>
                        <p>Tại EasyTalk, chúng tôi tin rằng việc học tiếng Anh phải thú vị và dễ tiếp cận với tất cả mọi người. Nền tảng của chúng tôi cung cấp các bài học tương tác, thử thách thú vị và nội dung được cá nhân hóa giúp bạn cải thiện kỹ năng của mình từng bước.</p>
                        <ul>
                            <li><span class="ti-pencil-alt"></span>Các bài học tương tác phù hợp với phong cách và tốc độ học tập của bạn</li>
                            <li><span class="ti-ruler-pencil"></span>Các ví dụ và bài tập thực tế giúp xây dựng sự tự tin trong giao tiếp</li>
                        </ul>
                        <a href="/about" class="btn_1">HỌC HỎI THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- learning part end-->

    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text " style="padding: 10px 20px;">
                        <h3>Hành trình của bạn</h3>
                        <p>Bắt đầu hành trình cá nhân hóa để thành thạo tiếng Anh, phù hợp với tiến trình và mục tiêu của bạn. Hãy tận dụng từng bước đi!</p>
                        <a href="/journey" class="btn_1">BẮT ĐẦU NGAY</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
                            <h4>Bài học cá nhân hóa</h4>
                            <p>Hành trình của bạn được thiết kế riêng cho trình độ kỹ năng và tốc độ học tập của bạn, đảm bảo bạn đạt được mục tiêu một cách hiệu quả.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                            <h4>Những thử thách hấp dẫn</h4>
                            <p>Từ các câu đố đến các bài học tương tác, hành trình của bạn bao gồm những thử thách thú vị để đảm bảo bạn vừa học vừa tận hưởng quá trình này.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                            <h4>Theo dõi tiến trình của bạn</h4>
                            <p>Với mỗi bài học hoàn thành, bạn tiến gần hơn một bước đến sự trôi chảy. Hành trình giúp bạn duy trì động lực và tập trung vào mục tiêu của mình.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- upcoming_event part start-->

    <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Các Bài Học Phổ Biến</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_1.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/grammar" class="btn_4">NGỮ PHÁP</a>
                            <a href="/grammar"><h3>BÀI HỌC NGỮ PHÁP</h3></a>
                            <p>Danh sách bài học ngữ pháp cung cấp các bài học rõ ràng, có cấu trúc để cải thiện kỹ năng ngữ pháp từ cơ bản đến nâng cao.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_2.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/flashcards" class="btn_4">TỪ VỰNG</a>
                            <a href="/flashcards"> <h3>TỪ VỰNG FLASHCARD</h3></a>
                            <p>Các bài học Flashcard giúp người học nắm vững vốn từ vựng thông qua các thẻ flashcard trực quan, tương tác để ghi nhớ hiệu quả.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_3.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/pronunciation" class="btn_4">PHÁT ÂM</a>
                            <a href="/pronunciation">  <h3>BÀI HỌC PHÁT ÂM</h3> </a> 
                            <p>Danh sách bài học phát âm giúp cải thiện khả năng nói rõ ràng với hướng dẫn từng bước về âm thanh, trọng âm và ngữ điệu.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <!-- learning part start-->
    <section class="advance_feature learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-xl-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_member_text">
                        <h5>LUYỆN TẬP & CẢI THIỆN</h5>
                        <h2>Nâng cao kỹ năng của bạn với hệ thống học tập tương tác của chúng tôi</h2>
                        <p>Cải thiện kỹ năng ngôn ngữ của bạn thông qua các buổi thực hành chuyên biệt về ngữ pháp, phát âm và từ vựng. Hệ thống của chúng tôi được thiết kế để tăng hiệu quả học tập của bạn mọi lúc, mọi nơi.</p>
                        <div class="row">
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/grammar-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-book"></span>
                                        <h4>Luyện Tập Ngữ Pháp</h4>
                                        <p>Nắm vững các quy tắc ngữ pháp với các bài tập tương tác được thiết kế riêng theo trình độ của bạn, giúp bạn xây dựng nền tảng vững chắc.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/pronunciation-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-microphone"></span>
                                        <h4>Luyện Tập Phát Âm</h4>
                                        <p>Hoàn thiện cách phát âm của bạn thông qua các bài học có hướng dẫn, đảm bảo bạn nói tự nhiên và rõ ràng trong cuộc trò chuyện. </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/vocabulary-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-light-bulb"></span>
                                        <h4>Luyện Tập Từ Vựng</h4>
                                        <p>Học từ mới hiệu quả bằng cách nghiên cứu từ vựng được nhóm theo chủ đề có liên quan, giúp bạn dễ nhớ và áp dụng chúng vào ngữ cảnh hơn.</p>
                                    </div>
                                </a>
                            </div>                                                        
                        </div>
                    </div>
                </div>                
                <div class="col-lg-5 col-md-5">
                    <div class="learning_img">
                        <img src="/static/images/advanceenglish.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->

    <!--::blog_part start::-->
    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Bài Viết Chúng Tôi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_1.jpeg" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog">
                                    <h5 class="card-title">Giao lưu văn hóa anh ngữ</h5>
                                </a>
                                <p>Mà lời nói bóng tối của nó là sự sống cho cá trong đó tất cả cá cùng được gọi là</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_2.png" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog-1">
                                    <h5 class="card-title">Top 10 thí sinh lọt top cuộc thi tìm kiếm tài năng Anh-Việt</h5>
                                </a>
                                <p>Mà lời nói bóng tối của nó là sự sống cho cá trong đó tất cả cá cùng được gọi là</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_3.webp" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog-1">
                                    <h5 class="card-title">Ngành Ngôn ngữ Anh – con đường của sự đam mê ngoại ngữ Anh</h5>
                                </a>
                                <p>Mà lời nói bóng tối của nó là sự sống cho cá trong đó tất cả cá cùng được gọi là</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <%- include('partials/footer.ejs') %>
    <% if (successMessages && successMessages.length > 0) { %>
        <script>
          var successMessage = "<%= successMessages[0] %>";
          alert(successMessage);
        </script>
      <% } %>
      
      <% if (errorMessages && errorMessages.length > 0) { %>
        <script>
          var errorMessage = "<%= errorMessages[0] %>";
          alert(errorMessage);
        </script>
      <% } %>
      
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/js/custom.js"></script>
</body>

</html>