<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EasyTalk</title>
    <link rel="icon" href="/static/images/favicon2.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <%- include('partials/menu.ejs') %>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Explore the World of English With Us</h5>
                            <h1>Improve your English skills</h1>
                            <p>Whether you are a beginner or want to improve your skills, our journeys are designed for 
                                all levels and will help you gain confidence in using English every day.</p>
                                <a href="/journey" class="btn_1">GET STARTED</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

        <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="/static/images/learningenglish.png" alt="Learning English Online">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text" style="padding: 10px 20px;">
                        <h5>About us</h5>
                        <h2>Learn English with Ease and Fun</h2>
                        <p>At EasyTalk, we believe learning English should be enjoyable and accessible for everyone. Our platform offers interactive lessons, fun challenges, and personalized content that helps you improve your skills step by step.</p>
                        <ul>
                            <li><span class="ti-pencil-alt"></span>Interactive lessons that adapt to your learning style and pace</li>
                            <li><span class="ti-ruler-pencil"></span>Real-world examples and exercises that build confidence in communication</li>
                        </ul>
                        <a href="/about" class="btn_1">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- learning part end-->

    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text " style="padding: 10px 20px;">
                        <h3>Your Journey</h3>
                        <p>Embark on a personalized journey to master English, tailored to your progress and goals. Make every step count!</p>
                        <a href="/journey" class="btn_1">Start Now</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
                            <h4>Personalized Lessons</h4>
                            <p>Your Journey is designed specifically for your skill level and learning pace, making sure you reach your milestones efficiently.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                            <h4>Engaging Challenges</h4>
                            <p>From quizzes to interactive lessons, your Joyney includes fun challenges to ensure you learn while enjoying the process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                            <h4>Track Your Progress</h4>
                            <p>With every lesson completed, you move one step closer to fluency. Your Joyney helps you stay motivated and focused on your goals.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- upcoming_event part start-->

    <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Popular Lessons</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_1.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/grammar" class="btn_4">GRAMMAR</a>
                            <a href="/grammar"><h3>GRAMMAR LESSONS LIST</h3></a>
                            <p>The grammar lessons list offers clear, structured lessons to improve grammar skills from basic to advanced.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_2.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/flashcards" class="btn_4">VOCABULARY</a>
                            <a href="/flashcards"> <h3>FLASHCARD</h3></a>
                            <p>The Flashcard lessons helps learners master vocabulary with interactive, visual flashcards for effective memorization.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="/static/images/special_cource_3.png" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="/pronunciation" class="btn_4">PRONUNCIATION</a>
                            <a href="/pronunciation">  <h3>PRONUNCIATION LESSONS LIST</h3> </a> 
                            <p>The pronunciation lessons list helps enhance speaking clarity with step-by-step guides on sounds, stress, and intonation.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <!-- learning part start-->
    <section class="advance_feature learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-xl-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_member_text">
                        <h5>Practice & Improve</h5>
                        <h2>Enhance Your Skills with Our Interactive Learning System</h2>
                        <p>Improve your language skills through specialized practice sessions in grammar, pronunciation, and vocabulary. Our system is designed to boost your learning efficiency anytime, anywhere.</p>
                        <div class="row">
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/grammar-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-book"></span>
                                        <h4>Grammar Exercises</h4>
                                        <p>Master grammar rules with interactive exercises tailored to your level, helping you build a strong foundation.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/pronunciation-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-microphone"></span>
                                        <h4>Pronunciation Practice</h4>
                                        <p>Perfect your pronunciation through guided lessons, ensuring you sound natural and clear in conversation.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-12 col-lg-4">
                                <a href="/vocabulary-exercise" class="learning_member_text_link">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-light-bulb"></span>
                                        <h4>Thematic Vocabulary</h4>
                                        <p>Learn new words efficiently by studying vocabulary grouped by relevant themes, making it easier to remember and apply them in context.</p>
                                    </div>
                                </a>
                            </div>                                                        
                        </div>
                    </div>
                </div>                
                <div class="col-lg-5 col-md-5">
                    <div class="learning_img">
                        <img src="/static/images/advanceenglish.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->

    <!--::blog_part start::-->
    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Blogs Our</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_1.jpeg" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog">
                                    <h5 class="card-title">Giao lưu văn hóa anh ngữ</h5>
                                </a>
                                <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_2.png" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog-1">
                                    <h5 class="card-title">Top 10 thí sinh lọt top cuộc thi tìm kiếm tài năng Anh-Việt</h5>
                                </a>
                                <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="/static/images/blog/single_blog_3.webp" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="/single-blog-1">
                                    <h5 class="card-title">Ngành Ngôn ngữ Anh – con đường của sự đam mê ngoại ngữ Anh</h5>
                                </a>
                                <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->

    <%- include('partials/footer.ejs') %>
    <% if (successMessages && successMessages.length > 0) { %>
        <script>
          var successMessage = "<%= successMessages[0] %>";
          alert(successMessage);
        </script>
      <% } %>
      
      <% if (errorMessages && errorMessages.length > 0) { %>
        <script>
          var errorMessage = "<%= errorMessages[0] %>";
          alert(errorMessage);
        </script>
      <% } %>
      
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/js/custom.js"></script>
</body>

</html>