<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etrain</title>
    <link rel="icon" href="/static/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <%- include('partials/menu.ejs') %>
    <!-- Header part end-->
    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="/static/images/blog/single_blog_2.png" alt="">
                                
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" >
                                    <h2>Top 10 thí sinh lọt top cuộc thi tìm kiếm tài năng Anh-Việt</h2>
                                </a>
                                <p>Cuộc thi Tài năng Anh ngữ lần thứ VII (The English Talent Contest) do Đoàn TNCS Hồ Chí Minh – Hội sinh viên Việt Nam Thành Phố Hà Nội và Hệ thống Anh ngữ ICE IELTS – trực thuộc Học viện Đào tạo ICE phối hợp tổ chức, nhằm tìm kiếm và tôn vinh những tài năng tiếng Anh, góp phần thúc đẩy phong trào học ngoại ngữ; đồng thời giúp cho học sinh, phụ huynh, giáo viên, nhà quản lý giáo dục đánh giá đúng thực chất việc dạy, học và năng lực tiếng Anh của học sinh theo tiêu chuẩn quốc tế.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> competition, course</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                            
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                               <div class="form-group">
                                  <div class="input-group mb-3">
                                     <input type="text" class="form-control" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                     <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                     </div>
                                  </div>
                               </div>
                               <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Search</button>
                            </form>
                         </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="https://www.tripadvisor.com.vn/Restaurants-g293925-Ho_Chi_Minh_City.html" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lonelyplanet.com/best-in-travel" class="d-flex">
                                        <p>Travel news</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.simplilearn.com/top-technology-trends-and-jobs-article" class="d-flex">
                                        <p>Modern technology</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.hostinger.com/tutorials/trending-products" class="d-flex">
                                        <p>Product</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.toools.design/blog-posts/ultimate-list-100-best-inspiration-sites-to-inspire-designers" class="d-flex">
                                        <p>Inspiration</p>
                                        <p>21</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.healthpoint.co.nz/gps-accident-urgent-medical-care/gp/top-health-care/" class="d-flex">
                                        <p>Health Care (21)</p>
                                        <p>09</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="media post_item">
                                <img src="/static/images/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="/single-blog">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2024</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="/static/images/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="/single-blog">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="/static/images/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="/single-blog">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="/static/images/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="/single-blog">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="https://www.hostinger.com/tutorials/trending-products">project</a>
                                </li>
                                <li>
                                    <a href="https://www.nhaccuatui.com/playlist/top-love-song-collection-dang-cap-nhat.lkgMh5k27omP.html">love</a>
                                </li>
                                <li>
                                    <a href="https://www.simplilearn.com/top-technology-trends-and-jobs-article">technology</a>
                                </li>
                                <li>
                                    <a href="https://www.lonelyplanet.com/best-in-travel">travel</a>
                                </li>
                                <li>
                                    <a href="https://www.tripadvisor.com.vn/Restaurants-g293925-Ho_Chi_Minh_City.html">restaurant</a>
                                </li>
                                <li>
                                    <a href="https://top10lifestyles.com">life style</a>
                                </li>
                                <li>
                                    <a href="https://www.toools.design/blog-posts/ultimate-list-100-best-inspiration-sites-to-inspire-designers">design</a>
                                </li>
                                <li>
                                    <a href="https://dribbble.com/tags/best-illustration">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="/static/images/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <%- include('partials/footer.ejs') %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/js/custom.js"></script>
</body>

</html>