
  <div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="/admin" class="logo">
          <img src="/static/images/logo.png" alt="navbar brand" class="navbar-brand" height="65" />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a href="/admin">
              <i class="fas fa-home"></i>
              <p>Trang chủ</p>
            </a>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon"><i class="fa fa-ellipsis-h"></i></span>
            <h4 class="text-section">Chức năng</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#journeyManagement">
              <i class="fas fa-road"></i>
              <p>Quản lý hành trình học</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="journeyManagement">
              <ul class="nav nav-collapse">
                <li>
                  <a href="/admin/journey">
                    <span class="sub-item">Hành Trình</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/gate">
                    <span class="sub-item">Cổng</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/stage">
                    <span class="sub-item">Chặng Đường</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#lessonManagement">
              <i class="fas fa-layer-group"></i>
              <p>Quản lý bài học</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="lessonManagement">
              <ul class="nav nav-collapse">
                <li>
                  <a href="/admin/grammar">
                    <span class="sub-item">Ngữ Pháp</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/pronunciation">
                    <span class="sub-item">Phát Âm</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#exerciseManagement">
              <i class="fas fa-th-list"></i>
              <p>Quản lý bài luyện tập</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="exerciseManagement">
              <ul class="nav nav-collapse">
                <li>
                  <a href="/admin/grammar-exercise">
                    <span class="sub-item">Ngữ Pháp</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/pronunciation-exercise">
                    <span class="sub-item">Phát Âm</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/vocabulary-exercise">
                    <span class="sub-item">Từ Vựng</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="/admin/users">
              <i class="fas fa-user"></i>
              <p>Quản lý người dùng</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#charts">
              <i class="far fa-chart-bar"></i>
              <p>Thống kê</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="charts/charts.html">
                    <span class="sub-item">Chart Js</span>
                  </a>
                </li>
                <li>
                  <a href="charts/sparkline.html">
                    <span class="sub-item">Sparkline</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="widgets.html">
              <i class="fas fa-desktop"></i>
              <p>Widgets</p>
              <span class="badge badge-success">4</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="../../documentation/index.html">
              <i class="fas fa-file"></i>
              <p>Documentation</p>
              <span class="badge badge-secondary">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <div class="main-header">
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <!-- Navbar Brand (Logo) -->
                <div class="navbar-brand">
                    <a href="index.html" class="logo">
                        <img src="/static/admin/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
                    </a>
                </div>
                <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="submit" class="btn btn-search pe-1">
                        <i class="fa fa-search search-icon"></i>
                      </button>
                    </div>
                    <input type="text" placeholder="Search ..." class="form-control" />
                  </div>
                </nav>
                <!-- Navbar toggle button for mobile view -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
    
                <!-- Navbar content -->
                <div class="collapse navbar-collapse" id="navbarMenu">
    
                    <!-- Right side of Navbar (Icons and user profile) -->
                    <ul class="navbar-nav ms-auto align-items-center">
                       <!-- Search icon for small screen -->
                        <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true">
                            <i class="fa fa-search"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-search animated fadeIn">
                            <form class="navbar-left navbar-form nav-search">
                              <div class="input-group">
                                <input type="text" placeholder="Search ..." class="form-control" />
                              </div>
                            </form>
                          </ul>
                        </li>
                        <!-- Messages icon -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="badge badge-danger">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="messageDropdown">
                                <li><a class="dropdown-item" href="#">New message 1</a></li>
                                <li><a class="dropdown-item" href="#">New message 2</a></li>
                                <li><a class="dropdown-item" href="#">New message 3</a></li>
                            </ul>
                        </li>
    
                        <!-- Notifications icon -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="badge badge-success">4</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notifDropdown">
                                <li><a class="dropdown-item" href="#">Notification 1</a></li>
                                <li><a class="dropdown-item" href="#">Notification 2</a></li>
                                <li><a class="dropdown-item" href="#">Notification 3</a></li>
                            </ul>
                        </li>
    
                        <!-- User profile icon -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/static/admin/assets/img/profile.jpg" alt="Profile" class="avatar-sm rounded-circle" />
                                <span class="profile-username">Hi, Admin</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
  </div>
<!-- End Navbar -->
