<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Cá Nhân</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    <link rel="icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        .profile-wrapper {
            max-width: 600px;
            margin: 120px auto 50px auto;
            padding: 40px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #fff;
        }

        .profile-wrapper h2 {
            text-align: center;
            margin-bottom: 35px;
            color: #333;
        }

        .profile-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .profile-item h5 {
            font-weight: bold;
            color: #555;
        }

        .profile-item .box, .profile-item input {
            font-size: 16px;
            color: #333;
            width: 60%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #9a9a9a;
            background-color: #f9f9f9;
        }
        .profile-item .box-ha {
            font-size: 16px;
            color: #333;
            width: 60%;
            padding: 8px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .profile-item input {
            display: none;
        }
        
        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn-container button {
            display: inline-block; /* Giúp các nút xếp ngang nhau */
            padding: 10px 20px;
            margin-top: 15px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }


        .btn-save {
            background-color: #28a745;
            color: #fff;
        }

        .btn-edit, .btn-cancel {
            background-color: #7c7979;
            color: #fff;
        }
    </style>
</head>

<body>
    <%- include('../partials/menu.ejs') %>
  
    <div class="profile-wrapper">
        <h2>THÔNG TIN CÁ NHÂN</h2>
        <div class="profile-item">
            <h5>Tên:</h5>
            <p class="box" id="username-display"></p>
            <input type="text" id="username-input" maxlength="10">
        </div>
        <div class="profile-item">
            <h5>Email:</h5>
            <p class="box" id="email-display"></p>
            <input type="email" id="email-input">
        </div>
        <div class="profile-item">
            <h5>Vai trò: </h5>
            <p class="box-ha" id="role-display"></p>
        </div>
        <div class="btn-container">
            <button class="btn-edit" id="edit-btn" onclick="toggleEdit()">Sửa thông tin</button>
            <button class="btn-save" id="save-btn" onclick="saveChanges()" style="display:none;">Lưu</button>
            <button class="btn-cancel ml-3" id="cancel-btn" onclick="cancelEdit()" style="display:none;">Hủy</button>
        </div>
    </div>
    <div class="profile-wrapper" style="margin-top: 30px;">
        <h2>THÀNH TÍCH CÁ NHÂN</h2>
        <div class="profile-item">
          <h5>Cổng mở khóa:</h5>
          <p class="box-ha" id="unlocked-gates"></p>
        </div>
        <div class="profile-item">
          <h5>Chặng đã hoàn thành:</h5>
          <p class="box-ha" id="unlocked-stages"></p>
        </div>
        <div class="profile-item">
          <h5>Điểm kinh nghiệm:</h5>
          <p class="box-ha" id="experience-points"></p>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/masonry.pkgd.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>  
    <script>
        let originalUsername, originalEmail;
        async function fetchUserProfile() {
            const token = localStorage.getItem("token");

            const response = await fetch('/profile/data', {
                method: 'GET',
                headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
                }
            });

            const data = await response.json();
            if (data.success) {
                originalUsername = data.user.username;
                originalEmail = data.user.email;
                document.getElementById('username-display').innerText = originalUsername;
                document.getElementById('email-display').innerText = originalEmail;
                document.getElementById('role-display').innerText = data.user.role;

                document.getElementById('unlocked-gates').innerText = data.achievements.unlockedGates;
                document.getElementById('unlocked-stages').innerText = data.achievements.unlockedStages;
                document.getElementById('experience-points').innerText = data.achievements.experiencePoints;
            } else {
                alert("Failed to load profile data.");
            }
        }

        function toggleEdit() {
            document.getElementById("username-display").style.display = 'none';
            document.getElementById("email-display").style.display = 'none';
            document.getElementById("username-input").style.display = 'block';
            document.getElementById("email-input").style.display = 'block';

            document.getElementById("username-input").value = originalUsername;
            document.getElementById("email-input").value = originalEmail;

            document.getElementById("edit-btn").style.display = 'none';
            document.getElementById("save-btn").style.display = 'inline-block';
            document.getElementById("cancel-btn").style.display = 'inline-block';
        }

        function cancelEdit() {
            document.getElementById("username-display").style.display = 'block';
            document.getElementById("email-display").style.display = 'block';
            document.getElementById("username-input").style.display = 'none';
            document.getElementById("email-input").style.display = 'none';

            document.getElementById("edit-btn").style.display = 'inline-block';
            document.getElementById("save-btn").style.display = 'none';
            document.getElementById("cancel-btn").style.display = 'none';
        }

        async function saveChanges() {
            const username = document.getElementById("username-input").value;
            const email = document.getElementById("email-input").value;
            const token = localStorage.getItem("token");

            try {
                const response = await fetch('/profile/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    body: JSON.stringify({ username, email })
                });

                const data = await response.json();

                if (data.success) {
                    originalUsername = username;
                    originalEmail = email;

                    document.getElementById("username-display").innerText = username;
                    document.getElementById("email-display").innerText = email;

                    cancelEdit();
                    alert("Thông tin của bạn đã được cập nhật thành công !");
                } else {
                    alert("Failed to update profile.");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("An unexpected error occurred.");
            }
        }

        fetchUserProfile();
  </script>
</body>
</html>
